/* Root container */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  margin: 0 auto;
  /* padding: 2rem 1rem; */
  background-color: var(--content-bg-color);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  transition: background-color .2s;
}

/* width */
::-webkit-scrollbar {
  width: 24px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  box-shadow: inset 0 0 10px 10px var(--text-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-hover-color);;
}
/* ------------------------------
   NAVBAR STYLES
--------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-footer-bg-color);
  color: var(--text-color);
  padding: 0px 20px;
  height: 5vh;
  border-bottom: 1px solid var(--border-color);
  /* margin-bottom: 30px; */
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-hover-color);
  text-decoration: none;
}

.nav-item {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-item:hover {
  color: var(--text-hover-color);
}
/* ------------------------------
   GENERAL
--------------------------------*/
.s-general {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  overflow: auto;
}

.s-header-allcaps {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin: 1em auto;
    position: relative;
    font-weight: bold;
}

.s-subheader {
    display: inline-block;
    margin: 1em auto;
    position: relative;
}


.center_of_container {
  display: flex;
  align-items: center;
  
}

.flex {
  flex: 1;
}

.margin-auto {
  margin: 2em auto;
}

/* ------------------------------
   Home
--------------------------------*/

.home-bg-container {
  position: absolute;      /* creates stacking context */
  height: 100%;
  width: 100%;
}

.home-bg {
  height: 100%;
  width: 100%;
  
  object-fit: cover;
  filter: invert(var(--img-invert-filter));
  z-index: 0;
}

.home-content {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontal center */
}

#txt-rotate-cursor {
  border-left: solid 8px #eee;
  position: absolute;
  animation: animated-cursor 1.5s step-end infinite;
}

@keyframes animated-cursor{
  from, to {border-left-color: #eee;}
  50% {border-left-color: transparent;}
}

/* ------------------------------
   About
--------------------------------*/

.fill-height {
  min-height: 100%;
}

.s-about_pic {
  margin: auto;
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.s-hero__content-social {
    width: 100%;
    font-size: 2.6rem;
    display: flex;
    justify-content: space-around;
}

.s-hero__content-social a,i {
    color: var(--text-color);
}

.s-hero__content-social a:focus,
.s-hero__content-social i:hover {
    color: var(--text-hover-color);
}

.s-hero__content-social a:last-child {
    margin-right: 0;
}


/* ------------------------------
   CAREER / EDUCATION
--------------------------------*/
.resume-block {
    text-align: left;
    margin-bottom: 50px;
}

.resume-block:last-child {
    margin-bottom: 0px;
}

.resume-block h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.resume-block a,i {
    color: var(--text-color);
}

.resume-block i:hover, 
.resume-block a:focus {
    color: var(--text-hover-color);
}


.resume-block-subheader {
    margin-top: -.4rem;
    margin-bottom: 10px;
}

.resume-block-subheader span:first-child {
    margin-right: 1rem;
}

.resume-block-date {
    display: inline-block;
    font-family: var(--font-1);
    font-size: calc(var(--text-size) * 0.8889);
    font-size: var(--text-sm);
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .12em;
    color: var(--text-color);
}

.resume-block-date::before {
    content: "\2022";
    color: var(--text-color);
    margin-right: 1rem;
}

/* ------------------------------
   Portfolio
--------------------------------*/

.block-large-1-4>.col {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
@media screen and (max-width: 1200px) {
  .block-medium-1-3>.col {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (max-width: 800px) {
  .block-tab-1-2>.col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .block-500-stack>.col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.folio-list {
  margin-bottom: 2.5px 0px;
  overflow: hidden;
  object-fit: cover;
}

.folio-item {
    padding: 0px;
}

.folio-item-thumb {
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: cover;
}

.folio-item img {
    display: flex;
    overflow: hidden;
    width:100%;
    height:100%;
    object-fit: cover;
    margin: 0px;
    -webkit-transition: all, .5s;
    transition: all, .5s;
}

.folio-item-thumb::before {
    z-index: 1;
    content: "";
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border: 10px solid rgba(255, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    -webkit-transition: all, .5s;
    transition: all, .5s;
}

.folio-item-thumb::after {
    z-index: 1;
    content: attr(detail);
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    /* background-color: #000; */
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 32px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    overflow: hidden;
    top: 0%;
    align-items: center;
    justify-content: center;
}

.folio-item:hover .folio-item-thumb::before {
    opacity: 1;
    visibility: visible;
}

.folio-item:hover .folio-item-thumb::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.folio-item:hover .folio-item-thumb img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/* ------------------------------
   FOOTER
--------------------------------*/
.footer {
  height: 5vh;
  margin-top: auto;
  background: var(--header-footer-bg-color);
  color: var(--text-color);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border-color);
  width: 100%;
  display: flex;
}

.footer p {
  margin: auto;
}

.hidden {
  display: none;
}

/* Dark mode */
.dark-mode {
  --bs-heading-color: #ddd;
  --text-color: var(--bs-heading-color);
  --text-hover-color: #fff;
  --border-color: #e3e3e3;
  --header-footer-bg-color: #222;
  --content-bg-color: var(--bs-gray-900);
  --img-invert-filter: 0%;
}

/* Light mode */
.light-mode {
  --bs-heading-color: #222;
  --text-color: var(--bs-heading-color);
  --text-hover-color: #000;
  --border-color: #222;
  --header-footer-bg-color: --bs-heading-color;
  --content-bg-color: var(--bs-gray-100);
  --img-invert-filter: 100%;
}

/* Default starts here */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
